<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xto</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>icon</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>XadillaX</string>
	<key>description</key>
	<string>Query for express.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>XTO</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>xto</string>
				<key>runningsubtext</key>
				<string>主人请骚等...</string>
				<key>script</key>
				<string>/usr/local/bin/node &lt;&lt;-'CODE'
require("./xto")("{query}");
CODE</string>
				<key>subtext</key>
				<string>Nyaa~</string>
				<key>title</key>
				<string>查 {query} 到哪了</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>icon</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>F3408545-6500-4333-AEDB-AC51882C6A65</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>icon</key>
		<dict/>
	</dict>
	<key>webaddress</key>
	<string>http://xcoder.in/</string>
</dict>
</plist>
